<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="fragments/fragment :: headerFragment('Tambah Jabatan')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
	<br>
    <h2>Tambah Jabatan</h2>
    <form th:action="@{/jabatan/tambah}" th:object=${jabatan} method="POST">
	<table>
		<tr>
			<td><label for="input-nama">Nama</label></td>
			<td><input id="input-nama" type="text" name="nama" class="form-control" required="required"/></td>
		</tr>
		<tr>
			<td><label for="input-deskripsi">Deskripsi</label></td>
			<td><input type="text" name="deskripsi" class="form-control" id="input-deskripsi" required="required"/></td>
		</tr>
		<tr>
			<td><label for="input-gajiPokok">Gaji Pokok</label></td>
			<td><input type="number" name="gajiPokok" class="form-control" id="input-gajiPokok" required="required"/></td>
		</tr>
		</table>
		<br>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>    
</div>
</body>
</html>