<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <script type="text/javascript" charset="utf8"
	src="	https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
	
    <title>Detail Pegawai</title>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<h2 style="text-align:center">Daftar Pegawai Termuda dan Tertua</h2>
	<div class="row" style="align-items: center">
		<div align="center" class="card col-md-6" th:object="${pegawaiTermuda}" style="padding: 20px; margin: 20px auto; display: inline-block">
				<h4 th:text="'Data Pegawai Termuda'"> </h4>
				<br>	
				<table class="table table-borderless table-striped" style="margin-left:auto; ">
					<tbody>
						<tr>
							<th>NIP</th>
							<td th:text="${pegawaiTermuda.nip}"></td>
						</tr>
						<tr>
							<th>Nama</th>
							<td th:text="${pegawaiTermuda.nama}"></td>
						</tr>
						<tr>
							<th>Tempat Lahir</th>
							<td th:text="${pegawaiTermuda.tempatLahir}"></td>
						</tr>
						<tr>
							<th>Tanggal Lahir</th>
							<td th:text="${pegawaiTermuda.tanggalLahir}"></td>
						</tr>
						<tr>
							<th>Tahun Masuk</th>
							<td th:text="${pegawaiTermuda.tahunMasuk}"></td>
						</tr>
						<tr>
							<th>Nama Instansi</th> 
							<td th:text="${pegawaiTermuda.instansi.nama}"></td>
						</tr>
						
						<tr>
						<td><b>Jabatan</b></td>
						<td>
							<ul th:each="j : ${jabatanTermuda}">
								<li th:text="${j.nama}"></li>
							</ul>
						</td>
						</tr>
						<tr>
							<th>Gaji</th>
							<td th:text="${gajiPegawaiTermuda}"></td>
						</tr>
					</tbody>
			</table>
		</div>
				<div align="center" class="card col-md-6" th:object="${pegawaiTertuda}" style="padding: 20px; margin: 20px auto; display: inline-block">
				<h4 th:text="'Data Pegawai Tertua'"> </h4>
				<br>	
				<table class="table table-borderless table-striped" style="margin-left:auto; ">
					<tbody>
						<tr>
							<th>NIP</th>
							<td th:text="${pegawaiTertua.nip}"></td>
						</tr>
						<tr>
							<th>Nama</th>
							<td th:text="${pegawaiTertua.nama}"></td>
						</tr>
						<tr>
							<th>Tempat Lahir</th>
							<td th:text="${pegawaiTertua.tempatLahir}"></td>
						</tr>
						<tr>
							<th>Tanggal Lahir</th>
							<td th:text="${pegawaiTertua.tanggalLahir}"></td>
						</tr>
						<tr>
							<th>Tahun Masuk</th>
							<td th:text="${pegawaiTertua.tahunMasuk}"></td>
						</tr>
						<tr>
							<th>Nama Instansi</th>
							<td th:text="${pegawaiTertua.instansi.nama}"></td>
						</tr>
						<tr>
						<td><b>Jabatan</b></td>
						<td>
							<ul th:each="j : ${jabatanTertua}">
								<li th:text="${j.nama}"></li>
							</ul>
						</td>
						</tr>
						<tr>
							<th>Gaji</th>
							<td th:text="${gajiPegawaiTertua}"></td>
						</tr> 
					</tbody>
			</table>
			</div>
		</div>			
</body>
</html>